/* #navbar {
  background-color: black;
   font: 400 13px CoreSans, Arial, sans-serif;
} */
body {
  background-color: #262626;
  margin: 0;
  width: 100vw;
  max-width: 1350px;
  /* display: flex; */
  /* align-items: center; */
  /* vertical-align: middle; */
  /* justify-content: center; */
}

.headerContainer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: black;
  font: 600 1.2em/55px CoreSans, Arial, sans-serif;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  /* max-width: 1440px; */
  position: fixed;
  /* padding: 2px 16px; */
  margin: auto;
  border-bottom: 1px solid #373737;

  /* vertical-align: baseline; */
}
.header {
  position: relative;
  top: -7px;
  height: 55px;
  margin-left: -6.5vw;
  /* width: auto; */
  margin-right: 5px;
  display: flex;
  /* font-size: 26px; */
  /* display: flex; */
  color: #94d500;
  /* background-color: black; */
  cursor: pointer;
  /* float: left; */
}

.tabs {
  /* position: relative; */
  /* font-size: 16px; */
  display: flex;
  font: 400 13px CoreSans, Arial, sans-serif;
  /* border: 1px solid white; */
  outline: none;
  color: #ffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
  cursor: pointer;
  text-decoration: none;
  /* float: left; */
  /* clear: both; */
  /* border: 2px solid white; */
}
.genreTab {
  display: flex;
  position: relative;
  font: 400 13px CoreSans, Arial, sans-serif;
  border: 1px solid #373737;
  outline: none;
  color: #ffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
  cursor: pointer;
  text-decoration: none;
}

.userContainer {
  margin-left: 80px;
  display: flex;
}
.userTabs {
  font: 400 13px CoreSans, Arial, sans-serif;
  border: none;
  outline: none;
  color: #ffff;
  padding: 14px 16px;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  height: 34px;
  display: flex;
  align-items: center;
}
a.userTabs:hover {
  background-color: #94d500;
}

.userCart {
  font: 400 13px CoreSans, Arial, sans-serif;
  border: none;
  outline: none;
  color: #ffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  height: 34px;
  display: flex;
  align-items: center;
}
a.userCart:hover {
  background-color: #ff53a0;
}
.cartPrice {
  /* right: 0px; */
  color: #ff53a0;
  /* border: 1px solid white; */
  font: 600 13px CoreSans, Arial, sans-serif;
  padding: 14px 3px;
}
a.userCart:hover > div.cartPrice {
  color: #ffff;
}

.genreBox {
  position: absolute;
  display: flex;
  /* justify-content: flex-end; */
  align-self: baseline;
  vertical-align: middle;
  /* margin-left: 5px; */
  height: 45px;
  width: 80px;
  /* margin-right: 100px; */
  /* left: 100px; */
  border: 2px transparent;
}

.menu {
  /* content: ''; */
  position: absolute;
  height: auto;
  width: auto;
  max-width: 1350;
  top: 52px;
  /* right: 8vw; */
  /* margin-left: -8.5vw; */
  /* right: 5rem; */
  /* margin-right: 10em; */
  /* right: 0px; */
  display: block;
  /* align-items: center;
  vertical-align: center;
  justify-content: center; */
  /* padding: 10px 10px; */
  /* justify-content: space-between; */
  font: 400 13px CoreSans, Arial, sans-serif;
  /* float: left; */
  /* clear: both; */
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  /* justify-content: flex-start; */
  margin-top: 10px;
  border: 1px solid #373737;
  background-color: #191919;
  z-index: 1;
  /* box-sizing: border-box; */
  /* align-items: flex-start; */
}

.genreMenu {
  width: auto;
  position: absolute;
  display: block;
  left: -220px;
  background-color: #191919;
  border: 1px solid #373737;
}
.highlightContainer {
  /* height: 10px; */
  width: 100vw;
  max-width: 1350px;
  /* margin: 0; */
  /* right: 20px; */
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;

  /* vertical-align: center; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* float: left; */
  /* padding: 5px; */
  /* align-items: space-between; */
  flex-wrap: wrap;
  font-size: 15px;
  /* clear: both; */

  /* align-items: flex-start; */
  /* margin: 100px; */
  /* margin-left: 10px; */

  /* align-content: space-between; */
}

.highlightsBlue {
  color: #39c1de;
  list-style-type: none;
  margin-right: 40px;
  /* float: left; */
  /* justify-content: space-between; */
  /* clear: right; */
  /* padding-right: 150px; */
}
.highlightsGreen {
  color: #94d500;
  list-style-type: none;
  margin-right: 40px;
  /* margin-left: 5px; */
  /* float: left; */
  /* justify-content: space-between; */
  /* padding-right: 130px; */
}
.description {
  margin-bottom: 10px;
  font-size: 11px;
  color: #ffff;
  padding-bottom: 5px;
  line-height: 22px;
  width: 13.5vw;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
}
.genreContainer {
  /* height: auto; */
  /* width: 20%; */
  /* display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  float: left; */
  /* clear: both;  */
  /* margin-right: 50px; */
}
.genreRow {
  height: inherit;
  width: 100vw;
  max-width: 1350px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* align-items: center; */
  /* align-content: space-between; */
  /* vertical-align: middle; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* line-height: 22px; */
  /* margin-left: 10px; */
  /* margin: 2px; */
  /* margin-left: 10px; */
  /* float: left; */
  /* flex-grow: 20; */
}
.genre {
  top: -35px;
  position: relative;
  list-style-type: none;
  color: #ffff;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  /* line-height: 22px; */
  /* align-content: center; */
  /* float: left; */
  /* clear: both; */
  /* right: 30px; */
  /* left: 10px; */

  line-height: 15px;
  width: 13.5vw;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
}

ul li.genre:hover {
  color: #94d500;
}
