.userMenu {
  position: absolute;
  height: auto;
  width: auto;
  top: 52px;
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #373737;
  background-color: #191919;
  z-index: 1;
}

.userBox {
  position: absolute;
  /* border: 5px transparent; */
  align-self: baseline;
  height: 60px;
  width: 80px;
  top: 10px;
  /* right: 100px; */
  padding-right: 100px;
  /* border: 1px solid white; */
}

.accountMenu {
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  /* flex-direction: column; */
  right: -53px;
  /* justify-content: flex-start; */
  /* margin: 0; */
  list-style-type: none;
  /* font-size: 100%; */
}
.accountMenuText {
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
  display: flex;
  /* height: 30px; */
  width: 200px;
  padding: 12px 15px;
}
div.accountMenuText:hover {
  background-color: #262626;
}
div.viewMyBeatPort:hover {
  background-color: #262626;
}
div.cartText:hover {
  background-color: #262626;
}

.followingMenu {
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  right: -42px;
  list-style-type: none;
}

.followingMenuText {
  /* border-bottom: 3px solid rgba(155, 155, 155, 0.2); */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  padding: 12px 15px;
  margin: 5px;
  box-sizing: border-box;
}
.artistAndLabels {
  border-bottom: 2px solid rgba(155, 155, 155, 0.2);
  padding-bottom: 6px;
}

.artist {
  padding-top: 8px;
  padding-bottom: 15px;
}

.viewMyBeatPort {
  width: 300px;
  padding: 12px 15px;
  margin: 5px;
  box-sizing: border-box;
}

.filter {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 20px;
  width: 270px;
  outline-color: #94d500;
  /* outline: none; */
  overflow: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.addSpace {
  color: #ffff;
  float: right;
}

.cartMenu {
  height: auto;
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  right: -85px;
  list-style-type: none;
}

.myCart {
  display: flex;
  border-bottom: 3px solid rgba(155, 155, 155, 0.2);
  flex-wrap: wrap;
  align-content: center;
  width: 250px;
  padding: 12px 15px;
  margin: 5px;
}

.myCart > svg {
  fill: grey;
  padding-left: 15px;
}
.cartText {
  width: 250px;
  padding: 12px 15px;
  margin: 10px;
}

.cartText > svg {
  fill: #ff53a0;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: -2px;
}
.quantity {
  color: #ff53a0;
}

.headphoneMan {
  /* border: 1px solid white; */
  border-radius: 50px;
  width: 36px;
  height: 36px;
  padding: 6px;
  position: relative;
  fill: rgb(138, 138, 138);
  background-color: rgb(70, 70, 70);
}

.cartImg {
  /* border: 1px solid white; */
  width: 25px;
  height: 25px;
  fill: white;
}

.followingIcon {
  width: 25px;
  height: 25px;
  fill: white;
  /* stroke: white; */
}
