.userMenu {
  position: absolute;
  height: auto;
  width: auto;
  top: 45px;
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #373737;
  background-color: #191919;
  z-index: 1;
}
.userTabs {
  /* display: flex; */
  font: 400 13px CoreSans, Arial, sans-serif;
  /* border: none; */
  outline: none;
  color: #ffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* margin-right: 10px; */
  /* margin-left: 100px; */
  cursor: pointer;
  text-decoration: none;
  /* border: 2px solid white; */
  /* float: right; */
}

.userBox {
  position: absolute;
  border: 5px transparent;
  align-self: baseline;
  height: 50px;
  width: 45px;
  top: 10px;
  /* border: 1px solid white; */
}

.accountMenu {
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  /* flex-direction: column; */
  right: -63px;
  /* justify-content: flex-start; */
  /* margin: 0; */
  list-style-type: none;
  /* font-size: 100%; */
}
.accountMenuText {
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
  display: flex;
  /* height: 30px; */
  width: 200px;
  padding: 12px 15px;
}
div.accountMenuText:hover {
  background-color: #262626;
}
div.viewMyBeatPort:hover {
  background-color: #262626;
}
div.cartText:hover {
  background-color: #262626;
}

.followingMenu {
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  right: -65px;
  list-style-type: none;
}

.followingMenuText {
  border-bottom: 3px solid rgba(155, 155, 155, 0.2);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  padding: 12px 15px;
  margin: 5px;
  box-sizing: border-box;
}
.viewMyBeatPort {
  width: 300px;
  padding: 12px 15px;
  margin: 5px;
  box-sizing: border-box;
}
.filter {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 20px;
  outline: none;
  overflow: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.addSpace {
  color: #ffff;
  float: right;
}

.cartMenu {
  height: auto;
  width: auto;
  position: absolute;
  display: block;
  border: 1px solid #373737;
  background-color: #191919;
  right: -43px;
  list-style-type: none;
}

.myCart {
  display: flex;
  border-bottom: 3px solid rgba(155, 155, 155, 0.2);
  flex-wrap: wrap;
  align-content: center;
  width: 250px;
  padding: 12px 15px;
  margin: 5px;
}
.myCart > svg {
  fill: grey;
  padding-left: 15px;
}
.cartText {
  width: 250px;
  padding: 12px 15px;
  margin: 10px;
}

.cartText > svg {
  fill: #ff53a0;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: -2px;
}
.quantity {
  color: #ff53a0;
}

.headphoneMan {
  /* border: 1px solid white; */
  border-radius: 50px;
  width: 25px;
  height: 25px;
  padding: 6px;
  fill: rgb(138, 138, 138);
  background-color: rgb(70, 70, 70);
}

.cartImg {
  /* border: 1px solid white; */
  width: 25px;
  height: 25px;
  fill: white;
}

.followingIcon {
  width: 25px;
  height: 25px;
  fill: white;
  stroke: white;
}
